body{
	margin: 0;
	padding: 0;
	background-image: url("backgound.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.front-page{
	background-color: #e79e16;
	height: 110vh;
	width: 100%;
	background-image: url("back.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.navbar {
	display: flex;
	justify-content: space-between;
}
.navbar ul li{
	display: inline-block;
	padding: 10px 15px;
	margin-right: 25px;
	font-weight: bold;
}
.navbar ul li a{
	text-decoration: none;
	color: #333;
	font-size: 1.2rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 10px;

}
.navbar ul li a:hover{
	background-color: #000000;
    color: #ffffff;
	border-radius: 30px;
	padding: 10px;
    transition: all .2s;
}
.logo{
	position: relative;
	margin: 10px 25px;
	margin-left: 75px;
	margin-right: 5%;
}

.menu-main{
	display: flex;
	justify-content: space-between;
}

.main{
	width: 45%;
	margin: -10px 80px;
}
.main .year{
	font-family: 'Big Shoulders Stencil Display', cursive;
	font-size: 50px; 
	margin-bottom: 10px;
}
.main h1{
	font-family: 'Anton', sans-serif;
	font-size: 80px;
	letter-spacing: 2px;
	margin: 0%;
}
.main .desc{
	color: #000;
	font-size: 18px;
	font-family: 'Roboto',sans-serif;
	padding-bottom: 10px;

}
.main .btn{
	background-color: #111;
	padding: 10px 15px;
	font-family: 'Big Shoulders Stencil Display', cursive;
	font-size: 25px;
	text-decoration: none;
	color: #fff;
	border-radius: 40px;
}
.main .btn:hover{
	background-color: #fafafa;
	color: #111;
	transition: 0.2s;
}
.shoe {
	position: relative;
	height: 550px;
	margin-right: 5%;
	float: right;
}
::-webkit-scrollbar {
	width: 10px;
	background: #e79e16;
}
::-webkit-scrollbar-track {
	background: transparent;
	position: absolute;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgb(0, 0, 0);
}